
.header {
    background: #222;
    height: 36px;
    padding: 8px 8px 32px 16px
}

img {
    background: #ff7f7f;
    height: 35px;
    animation-duration: 8s
}

.login-header-button {
    right: -90%;
}
.logout-header-button {
    right: -90%;
    
}



.ReactModal__Content--after-open {
  width:25% !important; 
  top:20% !important;
  left:35% !important;
  height: 35% !important; 
  }

  .rotate {
    animation: rotation 8s;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .linear {
    animation-timing-function: linear;
  }

  .infinite {
    animation-iteration-count: infinite;
  }