/*
It should have the background colour #ff7f7f.

It should have a height of 35px.

It should rotate infinitely with a complete cycle of 8 seconds, and the speed curve of the animation should be linear.

It should be on the left of the header.
*/

.header {
    background: #222;
    height: 36px;
    padding: 8px 8px 32px 16px
}

img {
    background: #ff7f7f;
    height: 35px;
    animation-duration: 8s
}

.login-button {
    right: -90%;
}

.modal-content {
    /* top: '35%';
  left: '50%';
  right: 'auto';
  bottom: 'auto';
  margin : '-50%';
  width: '60%';
  transform: 'translate(-40%, -10%)'; */
  width:20% !important; top:20%;
  position: relative;
  }

  .rotate {
    animation: rotation 8s;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .linear {
    animation-timing-function: linear;
  }

  .infinite {
    animation-iteration-count: infinite;
  }